name: Go

on: [push]

env:
  GOPATH: ${{ github.workspace }}/..

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Set up Go 1.13.5
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.5
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        path: src/github.com/${{ github.repository }}

    - name: Unit test
      run: go test -v

    - name: Build
      run: go build -v
